@mixin textarea-common() {
    width: 100%;
    color: cssvar(dark);
    font-size: 0.9375rem;
    font-weight: normal;
    line-height: normal;
}

:host {
    display: block;
    textarea {
        border: solid 0.0625rem cssvar(stable-30);
        border-radius: $border-radius-input;
        height: 100%;
        min-height: 95px;
        padding: 0.5rem 1rem;
        @include textarea-common();
        &.invalid {
            border-color: cssvar(danger);
        }
        &.valid {
            border-color: cssvar(success);
        }
        &:focus {
            outline: none;
        }
    }
    .readonly {
        padding: 0 0.5rem;
        @include textarea-common();
    }
}

:host(.italic) {
    .readonly {
        font-style: italic;
    }
}