:host {
    .images {
        position: relative;
        min-height: 300px;
        text-align: center;
    }
    .preview {
        width: 100%;
        &.edit {
            @include abs-pos(0, auto, auto, 0);
            z-index: 1;
        }
        &.web {
            width: auto;
            max-width: 100%;
            max-height: 600px;
            left: 0;
            right: 0;
        }
    }
    .image-recos {
        @include abs-pos(0.625rem, auto, auto, 0.625rem); // top: 10px;
        opacity: 0.9;
        width: 250px;
        z-index: 10;
        .image-reco {
            height: 30px;
            padding: $padding/2;
            margin-bottom: $padding/4;
            border-radius: $border-radius;
            border-width: 2px;
            background: cssvar(light);
            color: cssvar(text-header);
            .image-reco-value {
                float: right;
            }
        }
    }
}