:host {
    .outer-container {
        background: cssvar(light);
        box-shadow: $card-shadow;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        border-radius: 0.5rem;
        .result-dialog-icon {
            margin-top: 2.5rem;
            margin-bottom: 1.25rem;
        }
        .result-dialog-heading {
            font-size: 1.0625rem;
            font-weight: 600;
            padding-left: 1rem;
            padding-right: 1rem;
            line-height: 1.5625rem;
            margin-bottom: 0.3125rem;
        }
        .result-dialog-subheading {
            font-size: 0.9375rem;
            line-height: 1.33;
            color: $text-color;
            padding-left: 1rem;
            padding-right: 1rem;
            margin-bottom: 2.21875rem
        }
        .border {
            width: 100%;
            height: 1px;
            background-color: $border-stable;
        }
        .result-dialog-footer {
            font-size: 1.0625rem;
            font-weight: 600;
            width: 100%;
            .result-dialog-footer-button {
                padding-top: 0.65625rem;
                padding-bottom: 0.75rem;
            }
        }
    }
}