@import "../map/map.scss";

@mixin cluster-color($class, $color) {
    .#{$class}-cluster {
        border-color: cssvar($color);
        background-color: cssvar($color);
        border-radius: 1.5625rem;
        padding: 0.3125rem 0.125rem;
        text-align: center;
        color: $light;
        opacity: 0.7;
    }
}

@mixin marker-color($class) {
    &.#{$class} {
        &.marker {
            background-image: url('/assets/markers/marker_#{$class}.svg');
            background-size: cover;
            background-color: transparent;
        }
    }
}

@mixin directions-layout {
    position: absolute;
    width: 33.3333%;
    max-width: 300px;
    min-width: 200px;
}

:host {
    /deep/ {
        @import "../../../../../../shared/styles/map/_mapbox-js.scss";
        @import "../../../../../../shared/styles/map/_mapbox-js-directions.scss";
    }
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    .column-container {
        width: 100%;
        height: 100%;
        #inputs {
            @include directions-layout();
            z-index: 99;
            bottom: 10px;
            left: 10px;
        }
        .directions-container {
            @include directions-layout();
            z-index: 99;
            top: 0;
            right: 0;
            bottom: 0;
            overflow: auto;
            background: rgba(0, 0, 0, .8);
        }
        .map-container {
            position: relative;
            width: 100%;
            height: 600px;
            border: $border-width solid cssvar(dark-20);
            background: cssvar(dark);
        }
        .filter-group {
            @include filter-group-styles();
        }
        .marker-info {
            background: cssvar(light);
            text-align: center;
            border-top: $border-width solid cssvar(border-color);
            padding-bottom: $padding-small;
            .title {
                margin-top: $padding-small;
                font-weight: 500;
            }
        }
        /deep/.leaflet-control-container {
            .leaflet-bottom {
                &.leaflet-left {
                    display: none;
                }
                &.leaflet-right {
                    display: none;
                }
            }
            .leaflet-top {
                &.leaflet-left {
                    display: none;
                }
            }
        }
        /deep/.leaflet-marker-icon {
            height: 1.875rem !important;
            width: 1.875rem !important;
            @include cluster-color(booked,
            accent);
            @include cluster-color(tobevalidated,
            info);
            @include cluster-color(rejected,
            danger);
            @include cluster-color(validated,
            success);
            @include cluster-color(archived,
            dark);
            @include cluster-color(dark,
            dark);
            @include cluster-color(available,
            warning);
            @include marker-color(assertive);
            @include marker-color(balanced);
            @include marker-color(royal);
            @include marker-color(energized);
            @include marker-color(positive);
            &.dark {
                &.marker {
                    background-size: cover;
                    background-color: $dark;
                    background-color: transparent;
                }
            }
        }
        /deep/img.leaflet-marker-draggable {
            height: 4.375rem !important;
            width: 1.875rem !important;
        }
        /deep/.mapbox-marker-drag-icon {
            height: 0.75rem !important;
            width: 0.75rem !important;
        }
    }
}