
:host {
    .container {
        height: 1.25rem;
        font-size: 1.25rem;
        i.yo-circle {
            color: cssvar(stable-30);
        }
        .yo-circle:hover {
            color: cssvar(success);
        }
        .yo-circle.undefined {
            color: cssvar(stable-30);
        }
        i.yo-check-solid {
            color: cssvar(success);
        }
    }
}
