
:host {
    .inputs-container {
        align-items: center;
        padding: 0 0.3rem;
        .separator {
            margin: 0 0.875rem;
            width: 0.75rem;
            height: 0.125rem;
            border-radius: 1px;
            background: cssvar(stable);
        }
        .input {
            height: 2.5rem;
            border-radius: 5px;
            display: flex;
            align-items: center;
            &.single {
                width: 100%;
            }
            yoo-form-input {
                width: 100%;
                /deep/ {
                    .input-container {
                    }
                }
            }
        }
    }
    .slider-container {
        display: flex;
        align-items: center;
        justify-content: center;
        yoo-form-slider {
            width: 100%;
            /deep/ .wrapper {
                width: 100%;
                .outer-container {
                    width: 100%;                    
                    .slider-container {
                        width: 100%;                            
                        .range-container {
                            width: 100%;
                            input {
                                width: 100% !important;
                            }
                        }
                    }
                }
            }
        }
    }
}