:host {
    opacity: 1;
    .input-container {
        border: 1px solid cssvar(stable-30);
        border-radius: $border-radius-input;
        &.valid {
            border: 1px solid cssvar(success);
        }
        &.invalid {
            border: 1px solid cssvar(danger);
        }
        /deep/ input {
            padding: 0.5rem 1rem;
            font-size: 1rem;
            border-radius: $border-radius-input;
            line-height: 1.5;
            width: 100%;
            border: none;
        }
    }
}

/deep/ {
    @import "../../../../../../node_modules/flatpickr/dist/flatpickr";
}